# ignore all bin directories
# matches "bin" in any subfolder
bin/
*.txt
!dist/propositions

# ignore all files ending with ~
*~ 

# Eclipse
.classpath
.project
.settings/


# Mac
.DS_Store

# Maven
log/
target/